<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="carousel-img">
          <img src="https://4kwallpapers.com/images/walls/thumbs_2t/20308.jpg" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-content">
          <h1 class="movie-title">Superman</h1>
          <a href="">Watch now</a>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-img">
          <img src="https://4kwallpapers.com/images/walls/thumbs_2t/13286.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-content">
          <h1 class="movie-title">Spiderman</h1>
          <a href="">Watch now</a>
      </div>
    </div>


    <div class="carousel-item">
      <div class="carousel-img">
          <img src="https://wallpaperaccess.com/full/543191.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-content">
          <h1 class="movie-title">Batman</h1>
          <a href="">Watch now</a>
      </div>
    </div>

    <div class="carousel-item ">
      <div class="carousel-img">
          <img src="https://wallpaperaccess.com/thumb/716070.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-content">
          <h1 class="movie-title">Ironman</h1>
          <a href="">Watch now</a>
      </div>
    </div>

    <div class="carousel-item ">
      <div class="carousel-img">
          <img src="https://wallpaperaccess.com/thumb/87897.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-content">
          <h1 class="movie-title">Captain America</h1>
          <a href="">Watch now</a>
      </div>
    </div>
    
  </div>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
