.carousel-item{
    position: relative;
    width: 100%;
    height: 100vh;
}

.carousel-content{
    width: 800px;
    position: absolute;
    bottom: 70px;
    left: 50px;
    text-shadow: 2px 4px 6px black;
    z-index: 10;
}

.carousel-content h1{
    color: white;
    font-size: 5rem;
    margin-bottom: 40px;
}

.carousel-content a{
    text-decoration: none;
    color: white;
    background-color: rgba(66, 60, 60, 0.514);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
}

.carousel-control-next{
    width:4%;
}