.carousel-item{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.carousel-content{
    position: absolute;
    bottom: 130px;
    left: 50px;
}

.carousel-content h1{
    color: white;
    font-size: 6rem;
    margin-bottom: 40px;
}

.carousel-content a{
    text-decoration: none;
    color: white;
    background-color: rgba(66, 60, 60, 0.514);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
}

.carousel-control-next{
    width:4%;
}