.card {
  height: 400px;
  width: 250px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
  box-shadow:  0px 0px 9px 8px rgba(189, 189, 190, 0.2);
}

a{
  text-decoration: none;
}

.card-image{
  padding: 0;
  margin: 0;
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-content {
  padding: 0.7rem 0 1rem 0.5rem;
}