.media-img{
    width: 100%;
    height: 100vh;
    position: relative;
}

.media-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.media-content{
    position: absolute;
    color: white;
    top: 65%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.media-content h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.media-content p{
    font-size: 1rem;
    width: 90%;
    margin-bottom: 0.7rem;
}

.media-content .media-rating{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.media-content a{
    text-decoration: none;
    color: white;
    background-color: rgba(66, 60, 60, 0.514);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
}