.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0.779) 50%, #243b5500 100%);
}

.logo img{
    width: 150px;
    height: auto;
}

.navbar-links{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 15px;
    font-size: larger;
    font-weight: 500;
    transform: translateX(-10%);
}

.navbar-links a{
    text-decoration: none;
    color: white;
}

.nav-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

