.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 15px;
    font-size: larger;
    font-weight: 500;
}

.nav-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

