.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: rgba(249, 162, 162, 0.8);
}

.container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #555;
}

.container a {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}