.cards-container{
    display: flex;
    gap: 1.5rem;
    padding:0 2rem;
    margin: 2rem 0;
    overflow:auto hidden;
    scroll-behavior: smooth;
}


.cards-container::-webkit-scrollbar {
    height: 6px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 3px; 
}


.cards-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 3px;
}

h2 {
    margin: 1.5rem 2rem;
    color: white;
}

.cards-container app-card {
    margin-bottom: 2rem;
}