<app-carousel [type]="'movies'"></app-carousel>

<!-- top-rated cards -->
<h2>Popular Movies</h2>
<div class="cards-container">
  @for (movie of movieItems; track movie.id) {
    <app-card [item]="movie"></app-card>
  }
</div>

<!-- english cards -->
<h2>Movies in English</h2>
<div class="cards-container">
    @for (movie of englishMovieItems; track movie.id) {
        <app-card [item]="movie"></app-card>
    }
</div>

<!-- romantic comedies -->
<h2>Romantic comedies</h2>
<div class="cards-container">
    @for (movie of romanceComedyItems; track movie.id) {
        <app-card [item]="movie"></app-card>
    }
</div>

<!-- sci-fic -->
<h2>Science fiction</h2>
<div class="cards-container">
    @for (movie of sciFiItems; track movie.id) {
        <app-card [item]="movie"></app-card>
    }
</div>